body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
}

div#dimg {
    margin: auto;
    text-align: center;
}

img#img {
    border-radius: 50%;
    width: 250px;
    width: 250px;
    margin: auto;
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}