body {
    background-color: rgba(72, 82, 223, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.377);
    text-align: center;
}

section {
    background-color: white;
    width: 550px;
    height: 350px;
    margin: auto;
    padding: 20px 20px 35px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.384);
}

div {
    padding: 10px;
}

div#res {
    line-height: 145%;
}

select {
    width: 50%;
}

footer p {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    font-weight: bold;
}


